@{
    ViewBag.Title = "田卷哥的聯繫方式";
}
<h2>@ViewBag.Title.</h2>

<address>
   真心鎮<br />
   草叢<br />
    <abbr title="電話">P:</abbr>
    132456789
</address>

<address>
    <strong>客服:</strong>   <a href="mailto:Support@example.com">Support@frank.com</a><br />
    <strong>電話訂購:</strong> <a href="mailto:Marketing@example.com">Marketing@frank.com</a>
</address>